@import url("https://fonts.googleapis.com/css2?family=Segoe+UI:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-segoe-ui: "Segoe UI";
  --font-barlow-condensed: "Barlow Condensed";
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --font-inter: Inter;
  --font-inherit: inherit;

  /* font sizes */
  --font-size-3xl: 22px;
  --font-size-13xl: 32px;
  --font-size-6xl: 25px;
  --font-size-2xl: 21px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-11xl: 30px;
  --font-size-16xl: 35px;
  --font-size-mini: 15px;
  --font-size-7xs: 6px;
  --font-size-9xl: 28px;
  --font-size-7xl: 26px;
  --font-size-21xl: 40px;

  /* Colors */
  --color-white: #fff;
  --color-darkslategray: #2f2f2f;
  --color-darkorange: #ff7518;
  --color-gray-100: #fdfdfd;
  --color-gray-200: #1b1b1b;
  --color-orangered: #ff6400;
  --color-green: #008000;
  --color-black: #000;
  --color-gainsboro: #e1e3e5;

  /* Paddings */
  --padding-16xl: 35px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-base: 16px;
}
