.property1defaultChild,
.property1defaultItem {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
}
.property1defaultChild {
  height: 100%;
  top: 0;
  background-color: var(--color-darkslategray);
}
.property1defaultItem {
  height: 69.59%;
  top: 30.41%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.hvac {
  position: absolute;
  height: 8.19%;
  top: 7.89%;
  left: calc(50% - 33px);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 66px;
}
.property1default {
  width: 280px;
  height: 342px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-segoe-ui);
}
