.property1defaultChild,
.property1defaultItem {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: var(--br-mini);
}
.property1defaultChild {
  height: 100%;
  width: 99.64%;
  top: 0;
  left: 0.36%;
  background-color: var(--color-darkslategray);
}
.property1defaultItem {
  height: 69.88%;
  width: 100%;
  top: 30.12%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.energyEfficiencyUpgrades {
  position: absolute;
  height: 8.19%;
  width: 95.02%;
  top: 7.89%;
  left: 2.49%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.property1default {
  width: 281px;
  height: 342px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-segoe-ui);
}
