.mechanicalEstimationData {
  position: absolute;
  height: 15.31%;
  width: 55.25%;
  top: 0;
  left: 0;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instanceParent {
  position: absolute;
  top: 114px;
  left: 147px;
  width: 881px;
  height: 342px;
}
.mechanicalEstimationDataParent {
  position: absolute;
  height: 10.22%;
  width: 67.99%;
  top: 17.35%;
  right: 20.83%;
  bottom: 72.43%;
  left: 11.18%;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-darkorange);
  font-family: var(--font-segoe-ui);
}
