.property1defaultChild,
.property1defaultItem {
  position: absolute;
  border-radius: var(--br-mini);
}
.property1defaultChild {
  height: 85.47%;
  width: 95%;
  top: 0;
  right: 2.86%;
  bottom: 14.53%;
  left: 2.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.property1defaultItem {
  height: 29.07%;
  width: 100%;
  top: 70.93%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-darkslategray);
}
.generalRequirement {
  position: absolute;
  height: 15.92%;
  width: 69.64%;
  top: 77.51%;
  left: 15.36%;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.property1default {
  width: 280px;
  height: 289px;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-segoe-ui);
}
